@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
  min-height: 100vh;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(224, 224, 224);
  border-radius: 5px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.transition {
  transition: all 0.3s ease-in-out;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-space {
  margin: 0.7em;
}
.text-align {
  text-align: left !important;
  @media (max-width: 767px) {
    text-align: center !important;
  }
}
.details-page {
  min-height: 86vh;
  header {
    background-size: cover !important;
    position: relative;
    .holder {
      backdrop-filter: blur(10px);
    }
  }
}
